body {
    background-color: #212529;
    color: white;
    white-space: nowrap;
}

h1 {
    text-align: center;
}

.controls {
    background-color: rgba(10, 10, 10, 0.9);
}

.container {
    margin-bottom: 50%;
}

.buttons h2 {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24pt;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.modal-content {
    background-color: #212529;
}

span {
    font-size: 24pt;
}

.connection-alert {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* flex-wrap: wrap; */
    background-color: #212529;
    z-index: 1040;
}